/*font-family: 'Open Sans', sans-serif;*/
@font-face {
  font-family: 'icomoon';
  src: url("../iconos/font/icomoon.eot?hfdo76");
  src: url("../iconos/font/icomoon.eot?hfdo76#iefix") format("embedded-opentype"), url("../iconos/font/icomoon.ttf?hfdo76") format("truetype"), url("../iconos/font/icomoon.woff?hfdo76") format("woff"), url("../iconos/font/icomoon.svg?hfdo76#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo_insomnia:before {
  content: "\e900";
}

.icon-logo_insomnia_letra:before {
  content: "\e960";
}

.container__header {
  padding: 20px 0px;
  text-align: center;
}

.container__header p {
  color: #E91E63;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.container_letras_center {
  padding: 50px;
  text-align: center;
}

.container_letras_center .icon-logo_insomnia {
  font-size: 242px;
  color: #000;
  width: 100%;
  display: block;
}

.container_letras_center .icon-logo_insomnia_letra {
  font-size: 82px;
  color: #E91E63;
  width: 100%;
  display: block;
  margin-top: 28px;
}

.footer {
  text-align: center;
}

.footer p {
  color: #E91E63;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 20px;
  width: 100%;
  display: block;
  margin: 0px;
}

.footer a {
  color: #E91E63;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 20px;
  width: 191px;
  display: block;
  margin: 0 auto;
  border: 1px solid #E91E63;
  padding: 2px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.footer a:hover, .footer a:active, .footer a:focus {
  background-color: #E91E63;
  color: #FFF;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 500px) {
  .icon-logo_insomnia {
    font-size: 157px !important;
  }
  .icon-logo_insomnia_letra {
    font-size: 49px !important;
  }
  .footer p {
    padding-top: 49px;
    font-size: 15px;
  }
}
